<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="./assets/form-section.css">
  </head>
  <body>
    <h1>Welcome: Jazzy</h1>
    <form id="form" method="POST" action="/contact">
      <label class="fields" for="name">Your Name:</label>
      <input class="fields" type="text" name="name"><br>

      <label class="fields" for="email">Your Email:</label>
      <input class="fields" type="email" name="email"><br>

      <label class="fields" for="message">Your Message:</label>
      <textarea class="fields" name="message" id="" height="300px"></textarea><br>
      <input class="fields" type="submit" placeholder="Submit" id="button">
    </form>
  </body>
</html>
