<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sample</title>
    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <div id="container">
      <h1>hello guys</h1>
    </div>
    <section id="content">
      This is my content area
    </section>
  </body>
</html>
